@page "/cart"
@model CartModel

<div>
    <div class="text-center text-light display-6">
        Sepetim
    </div>
    <p>
    </p>
    <table>
        <thead>
            <tr>
                <th>Ürün</th>
                <th>Adet</th>
                <th>Fiyat</th>
                <th>Ara Toplam</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.Cart?.Lines ?? Enumerable.Empty<CartLine>())
            {
                <tr>
                    <td>@line.Product.ProductName</td>
                    <td>@line.Quantity</td>
                    <td>@line.Product.ProductPrice.ToString("c")</td>
                    <td>@((line.Product.ProductPrice*line.Quantity).ToString("c2"))</td>
                    <td>
                        <form method="post" asp-page-handler="Remove" >
                            <input type="hidden" name="id" value="@line.Product.ProductId" />
                            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                            <button type="submit" class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"></i>
                                Sepetten Kaldır
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-right">Total : </td>
                <td class="text-right text-danger">
                    @Model.Cart?.ComputeTotalValue().ToString("C2")
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="text-center my-3">
        <div class="btn-group">
            <a class="btn btn-warning" href="@Model?.ReturnUrl">Alışverişe Devam Et</a>
            <a class="btn btn-warning mx-2" asp-action="Checkout" asp-controller="Order">Alışverişi Tamamla</a>
        </div>
    </div>
</div>